---
// would you rather have unlimited bacon, but no games, or games, unlimited games, but no games?
import Layout from '@l/Layout.astro';
import PromptClose from '@s/PromptClose.astro';
import games from '../games.json';
---

<Layout name="Games">
    <link slot="head" rel="stylesheet" href={replacement + '/assets/css/pages/games.css'}>
	<div class="main">
        <form class="search" id="search">
            <input type="text" id="searchGames" class="searchbar" placeholder="Search games...">
            <select id="sortGames" class="select">
                <option value="alphabetical">Alphabetical</option>
                <option value="recent">Recently Added</option>
            </select>
		</form>
		<div id="games" class="games">
			{games.map((game) => (
				<a href={game.url} class="game" data-name={game.name.toLowerCase()}>
					<img src={game.image} alt={game.name} />
					<span class="name">{game.name}</span>
				</a>
			))}
		</div>
	</div>

	<script>
		import { filterGames, orderGames } from "../utils/games";
		const searchGames = document.getElementById('searchGames') as HTMLInputElement | null;
		const sortGames = document.getElementById('sortGames') as HTMLSelectElement | null;
		const games = document.getElementById('games') as HTMLElement | null;
		const gameElements = Array.from(document.querySelectorAll<HTMLElement>('.game'));
		const search = document.getElementById('search') as HTMLFormElement | null;
		
		if (searchGames && sortGames && games) {
			const order = orderGames(gameElements);
			
			const filter = () => filterGames(searchGames, sortGames, games, gameElements, order);
			
			searchGames.addEventListener('input', filter);
			sortGames.addEventListener('change', filter);
		}
		
		if (search) {
			search.addEventListener('submit', (e: Event) => e.preventDefault());
		}
	</script>
    <PromptClose/>
</Layout>