---
import Layout from '@l/Layout.astro';
import Proxy from '@s/Proxy.astro';
import PromptClose from '@s/PromptClose.astro';
const href = Astro.url.searchParams.get('q');
const Define = `<script>
    const replacement = '${replacement}';
    const wispVal = '${import.meta.env.wispUrl}';
    const routeQuery = '${href ?? undefined}';
    const theme = '${import.meta.env.theme}';
</script>`;
---

<Layout name="Search">
    <link slot="head" rel="stylesheet" href={replacement + '/assets/css/pages/search.css'}>
	<div id="main" class="main">
        <iframe id="iframe"></iframe>
        <form class="search" id="search">
            <input id="url" spellcheck="false" autocomplete="off" autocapitalize="off" class="searchbar" type="text" placeholder="Start Searching...">
        </form>
	</div>

    <script src={replacement + '/baremux/index.js'} defer></script>
    <Proxy/>
    <Fragment set:html={Define} />
    <script>
        import { iframeLoading, init, getWisp, setTransport, loadUrl, handleSubmit } from "../utils/proxy";
        
        document.addEventListener('DOMContentLoaded', async () => {
            const iframe = document.getElementById("iframe") as HTMLIFrameElement | null;
            const url = document.getElementById("url") as HTMLInputElement | null;
            const search = document.getElementById("search") as HTMLFormElement | null;
            
            if (routeQuery !== 'undefined' && iframe) {
                iframeLoading(iframe, replacement);
            }
            
            const scramjet = init(replacement);
            const wispUrl = getWisp(wispVal);

            const connection = new window.BareMux.BareMuxConnection(`${replacement}/baremux/worker.js`);
            await setTransport(connection, "epoxy", replacement, wispUrl);
            const config = { replacement, wispVal, scramjet, proxy: 'scramjet' };

            if (routeQuery !== 'undefined' && iframe && url) {
                const decodedQuery = decodeURIComponent(routeQuery);
                loadUrl(decodedQuery, config, iframe, url);
            }

            if (search && url && iframe) {
                search.addEventListener("submit", (event: Event) => {
                    handleSubmit(event, url, config, iframe);
                });
            }
        });
    </script>
    <PromptClose/>
</Layout>