---
import SideBar from '@c/SideBar.astro';
import Slop from '@c/Slop.astro';
interface Props {
    name?: string;
}

const { name } = Astro.props;
let title = "Nuggets";
if (name) title = name + " | Nuggets";

const defaultTheme = 'default';
const themePath = `${replacement}/assets/css/themes/${defaultTheme}.css`;
const Theme = `<script>
	(function() {
		const selectedTheme = localStorage.getItem('theme') || 'default';
		const themeLink = document.getElementById('theme');
		if (themeLink && selectedTheme !== 'default') {
		themeLink.href = \`${replacement}/assets/css/themes/\${selectedTheme}.css\`;
		}
	})();
</script>`;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{title}</title>
		<Fragment set:html={`<style>:root { --synaptibackground: url(${replacement}/assets/imgs/background.jpeg); }</style>`}/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content={Astro.generator}>
        <link id="favicon" rel="icon" type="image/svg+xml" href={replacement + '/assets/svg/favicon.svg'}>

        <link rel="stylesheet" href={replacement + '/assets/css/global.css'}>

        <link id="theme" rel="stylesheet" href={themePath}>

        <meta name="title" content="Nugget Recipes">
        <meta name="description" content="Various Chicken Nugget Recipes">
        <meta name="twitter:url" content="https://www.microsoft.com/en-us">
        <meta name="twitter:title" content="Nugget Recipes">
        <meta name="twitter:description" content="Explore Microsoft products and services and support for your home or business. Shop Microsoft 365, Copilot, Teams, Xbox, Windows, Azure, Surface and more.">
        <meta name="twitter:card" content="summary">
        <meta property="og:url" content="https://www.microsoft.com/en-us">
        <meta property="og:title" content="Nugget Recipes">
        <meta property="og:description" content="Explore Microsoft products and services and support for your home or business. Shop Microsoft 365, Copilot, Teams, Xbox, Windows, Azure, Surface and more.">
        <meta property="og:type" content="website">
        <slot name="head"/>
    	<Fragment set:html={Theme} />
    </head>
    <body>
        <Slop/>
        <SideBar/>
        <slot/>
    </body>
</html>